        body{
            max-width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            background: url(img/back.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: #0000008c;
            background-blend-mode: multiply;
            padding-top: 25px;
        }
        form{
            width: 50%;
            height: 400px;
            padding: 35px 26px;
            background-color: rgba(255, 255, 255, 0.548);
            box-shadow:inset 0 0 20px rgba(255,255,255,0.6),inset 0 0 40px rgba(0,0,0,0.3), 0 10px 25px rgba(0, 0, 0, 0.4);
            border-radius: 20px;
            color: white;
        }
        legend{
            display: inline;
            color: #000000;
            margin-top: -30px;
            padding: 20px;
            border-radius: 12px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        input{
            display: inline-block;
            width: 90%;
            margin-top: 16px;
            padding: 20px 10px;
            background: none;
            border: none;
            border-radius: 12px;
            background-color: #000000be;
        }
        input::placeholder{
            color: #ffffff;
            font-size: 16px;
        }
        input:focus{
            box-shadow: 0 0 10px #f8f8f8d8, 3px 3px 10px #f8f8f8d8;
            transition: background-image 0.5s ease;
            outline: none;
        }
        input:hover{
            box-shadow: 3px 3px 10px black, 0px 0px 13px black;
        }
        #name:focus{
           background-image: url(img/name.png);
           background-repeat: no-repeat;
           background-size: 30px;
           background-position: left;
           padding-left: 35px;
        }
        #email:focus{
           background-image: url(img/email.png);
           background-repeat: no-repeat;
           background-size: 30px;
           background-position: left;
           padding-left: 35px;
        }
        #password:focus{
           background-image: url(img/pass.png);
           background-repeat: no-repeat;
           background-size: 30px;
           background-position: left;
           padding-left: 35px;
        }